alias cd="z"

alias i="sudo dnf install"

alias ll="ls -lah"

alias treee="tree -a -I node_modules -I .git -I .next -I .expo -I target -I build -I cmake-build-debug -I CMakeFiles -I __pycache__ -I .docusaurus -I .medusa"

alias clip="xclip -selection clipboard"

alias push-old="pass git/github/token -c && git push origin master"
alias push="pass git/github/token -c && git push origin main"

alias pw="gpg -d ~/Storage/Secrets/secret.txt.gpg | tr -d '\n' | xclip -selection clipboard"

alias phy="python -i /home/connor/Code/Physics/utils.py"

alias eco="python -i /home/connor/Code/Python/excelpy/main.py"

alias dl="yt-dlp --format 'bv*[ext=mp4]+ba[ext=m4a]/b[ext=mp4]'"

alias rm="trash"

alias open="xdg-open"

alias psql-tbh='ssh -t connor@textbookheaven.org "docker exec -it textbook-heaven-db-1 psql -U connor -d textbook_heaven"'
alias psql-swamp='ssh -t swamp "sudo docker exec -it swamp-study-postgres-1 psql -U connor -d swampstudy"'

alias priv="mullvad connect --wait && flatpak run app.zen_browser.zen --private-window & disown > /dev/null 2>&1"

alias ollama-start="sudo systemctl start ollama"
alias ollama-stop="sudo systemctl stop ollama"

alias dlc="/home/connor/Code/rust/dlc/target/debug/dlc"

alias passc='pass -c $(cd .password-store && fd | grep "\.gpg$" | sed "s/\.gpg$//" | fzf)'

alias m-c="mullvad connect --wait"
alias m-r="mullvad reconnect --wait"
alias m-d="mullvad disconnect"
