[user]
	name = Connor Kress
	email = connor@ckress.dev
	signingkey = EB2736E78BD99C62

[credential]
	helper = cache --timeout=604800
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[fetch]
	prune = true
